{% extends "base.html" %}

{% block content %}
<section class="header1 cid-s1BGr2B907" id="header16-19">
    <div class="container">
        <div class="row justify-content-md-left">
            <div class="col-md-10 align-left">
                <h1>SignUp</h1>
                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="SignUp">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
