{% extends 'base.html' %}

{% block content %}
<section class="header1 cid-s1BGr2B907" id="header16-19">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    Welcome to Stars & Space
                </h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Register to join the community
                </p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="{% url 'signup' %}">SIGN UP</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cid-s3sy8X87Ct" id="footer5-1q">
  <div class="container">
      <div class="footer-lower">
          <div class="media-container-row">
              <div class="col-md-12">
                  <hr>
              </div>
          </div>
          <div class="media-container-row mbr-black">
              <div class="col-md-6">
                  <div class="social-list align-center">
                      <p> For contact : </p>
                      <div class="soc-item">
                          <a href="https://www.linkedin.com/in/hardikmehta48/" target="_blank">
                              <span class="socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                          </a>
                      </div>
                      <div class="soc-item">
                          <a href="https://github.com/hardikmehta48" target="_blank">
                              <span class="socicon-github socicon mbr-iconfont mbr-iconfont-social"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}
